:host {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
}

mat-toolbar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
